@model IEnumerable<Dominio.EntidadesNegocio.Cabaña>

@{
    ViewData["Title"] = "ListadoCabañas";
}

<h1>ListadoCabañas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
           
        </tr>
}
    </tbody>
</table>
